@import 'tailwindcss';

@theme {
  /* Text sizes */
  --text-xs: 1.2rem;
  --text-xs--line-height: 1.6rem;
  --text-sm: 1.4rem;
  --text-sm--line-height: 1.8rem;
  --text-base: 1.6rem;
  --text-base--line-height: 2.4rem;
  --text-lg: 1.8rem;
  --text-lg--line-height: 2.8rem;
  --text-xl: 2rem;
  --text-xl--line-height: 3rem;
  --text-2xl: 2.4rem;
  --text-2xl--line-height: 3.2rem;
  --text-3xl: 3rem;
  --text-3xl--line-height: 3.6rem;
  --text-4xl: 3.6rem;
  --text-4xl--line-height: 4rem;

  /* Text colors */
  --color-content-primary: #111111;

  /* Brand colors */
  --color-brand-primary: #0a4874;
  --color-brand-accent: #ff6633;

  /* Swatch colors */
  --color-swatch-orange: #ff6633;
  --color-swatch-green: #006600;
  --color-swatch-blue: #00639c;
  --color-swatch-yellow: #fce78d;
  --color-swatch-pink: #ffccff;
  --color-swatch-navy: #19264b;
}

@source inline("bg-swatch-{orange,green,blue,yellow,pink,navy}");
